
</style>
/* CSS for heading styles */

h1 {
  font-family: Corbel;
  color: #00457C; 
  /*font-weight: bold;*/
  font-size: 26px;
}


h2 {
  font-family: Corbel;
  color: #89C266;
  font-size: 20px;
}

h3 {
  font-family: Corbel;
  color: #FF7C48;
  font-size: 18px;
}

h4 {
  font-family: Corbel;
  color: #674C7E
  font-size: 14
}  


</style>

/* body font, size, and color */
/* CSS code */
body {
    /*background-color: #f2f2f2; /* Light grey background */
    font-family: Corbel, sans-serif; /* Sets the font to Corbel */
    font-size: 12px; /* Sets the font size to 12 pixels */
    color: #333; /* Optional: sets a dark grey font color */
}

</style>

.box {
  margin: 1em ;
  border: 2px solid #47A1E7;
  border-left: 10px solid #47A1E7; 
  border-radius: 10px;
}

.box-header {
  margin-left: 0em;
  padding-left:  30px;
  padding-top:  5px;
  padding-bottom: 5px;
  color: white;
  text-indent: 0em;
  background-color: #47A1E7;
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
      }

.box-container {
  padding-top: 5px;
  padding-left: 10px;
  color: #00457C ;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.quarto-title-block .quarto-title-banner {
  background-image: url(../viz/logo.png);
  background-size: 120px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
  font-family: Corbel;
  color: #00457C ;
    font-size: 32;
}
